<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="{{tituloPantalla}}" blockClass="pc-component">
            <form [formGroup]="form_ProyectosEmpleados" novalidate (ngSubmit)="guardar()">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="rol" class="form-label">Proyectos</label>
                            <select class="form-control" (change)="seleccionarProyecto($event)" formControlName="id_proyecto">
                                <option>Seleccione una opcion</option>
                                @for (proyecto of listaProyectos; track $index) {
                                <option value="{{ proyecto.id_proyecto }}">{{ proyecto.nombre_proyecto }}</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="rol" class="form-label">Empleados</label>
                            <select class="form-control" (change)="seleccionarEmpleado($event)" formControlName="id_empleado">
                                <option>Seleccione una opcion</option>
                                @for (empleado of listaEmpleados; track $index) {
                                <option value="{{ empleado.id_empleado }}">{{ empleado.nombres }} {{ empleado.apellidos }}</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 col-md-4 offset-md-4">
                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="form_ProyectosEmpleados.invalid">{{nombreBoton}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
</div>